.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    height: auto;
    background-color: lightgrey;
    border-radius: 10px;
}

h1 {
    background-color: lightslategrey;
    font-family: Arial, Verdana, Helvetica;
    border-radius: 10px;
}

#itemSearch {
    float: right;
    align-items: end;
}

#searchButton {
    float: right;
    align-items: end;
}
.exhibitItem {
    position: relative;
    height: 250px;
    width: 200px;
    margin: 10px;
    border: 1px;
    padding: 15px;
    font-family: Arial, Verdana, Helvetica;
    background-color: red;
    border-radius: 5px;
    align-items: flex-start;
    text-align: center;
}

.exhibitItem:hover {
    transform: scale(1.1);
}

.exhibitItem:hover #description {
    visibility: visible;
}

.exhibitItem:hover img {
    display: none;
}

.counter {
    text-align: right;
    align-items: start;
}

.visitItem {
    position: relative;
    height: 250px;
    width: 200px;
    margin: 10px;
    border: 1px;
    padding: 15px;
    font-family: Arial, Verdana, Helvetica;
    background-color: red;
    border-radius: 5px;
    align-items: flex-start;
    text-align: center;
}

.visitedItem {
    position: relative;
    height: 250px;
    width: 200px;
    margin: 10px;
    border: 1px;
    padding: 15px;
    font-family: Arial, Verdana, Helvetica;
    background-color: red;
    border-radius: 5px;
    align-items: flex-start;
    text-align: center;
}

.visitItem:hover {
    transform: scale(1.1);
}

.visitItem:hover #description {
    visibility: visible;
    transition-delay: 0.2s ease-in-out;
}

.visitItem:hover img {
    display: none;
    transition-delay: 0.2s ease-in-out;
}

#description {
    visibility: hidden;
}

#description .ul .li {
    text-align: left;
}

.visitItem .button {
    display: hidden;
}

.visitItem:hover .button {
    visibility: visible;
}

header {
    background-color: red;
    height: 75px;
    font-family: Arial, Verdana, Helvetica;
    font-size: 50px;
}

img {
    height: 150px;
    width: 150px;
    align-items: end;
    justify-content: center;
}

body {
    background-color: black;
}

p {
    font-size: medium;
}

#link {
    font-size:medium;
}